flows/paramstest.json
[{"id":"ff5a563c.b29f38","type":"tab","label":"params","disabled":false,"info":""},{"id":"89302578.89ab78","type":"inject","z":"ff5a563c.b29f38","name":"","topic":"","payload":"[[{\"a\":1,\"b\":1}, {\"a\":2,\"b\":2}],2]","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["26af83a6.1f14bc"]]},{"id":"b5e8e5d5.276238","type":"debug","z":"ff5a563c.b29f38","name":"","active":true,"console":"false","complete":"false","x":410,"y":80,"wires":[]},{"id":"26af83a6.1f14bc","type":"alasql","z":"ff5a563c.b29f38","name":"","query":"SELECT a FROM ? WHERE b = ?","x":250,"y":80,"wires":[["b5e8e5d5.276238"]]},{"id":"d42a0fe1.3e73e","type":"comment","z":"ff5a563c.b29f38","name":"test params","info":"https://github.com/agershun/alasql/wiki/Alasql-Object\n\nalasql.exec(sql,params) executes SQL after having replaces the n'th ? in sql with the n'th index in the array params\n","x":114,"y":38,"wires":[]}]